[submodule "tests/tests_data/data_set_02_data_repository_site_generator"]
	path = tests/tests_data/data_set_02_data_repository_site_generator
	url = git@git.rwth-aachen.de:fst-tuda/projects/designing-with-fluids/hydropulser/data_set_02_data_repository_site_generator.git
[submodule "tests/tests_data/data_set_01_data_repository_site_generator"]
	path = tests/tests_data/data_set_01_data_repository_site_generator
	url = git@git.rwth-aachen.de:fst-tuda/projects/designing-with-fluids/hydropulser/data_set_01_data_repository_site_generator.git
