[submodule "tests/tests_data/data_set_02_data_repository_site_generator"]
	path = tests/tests_data/data_set_02_data_repository_site_generator
	url = ../data_set_02_data_repository_site_generator.git
[submodule "tests/tests_data/data_set_01_data_repository_site_generator"]
	path = tests/tests_data/data_set_01_data_repository_site_generator
	url = ../data_set_01_data_repository_site_generator.git
